body{
    height: 100vh;
    background-image: linear-gradient(to top right , #B994F5,#8d4bf7);
}
.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #B994F5;
    box-shadow: 0 10px 10px #905ce2;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    width: 50px;
    float: left;
    text-align: center;
    padding: 10px 0;
    color: #897ba0;
    transition: 1s;
}
.active{
    color: #fff;
}
i{
    position: relative;
    z-index: -1;
}
#action{
    position: absolute;
    top: 0;
    left: 0;
    background:#FF45B4 ;
    width: 50px;
    height:100% ;
    z-index: -2;
    transition: 1s;

}
#action::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF45B4;
    content:'' ;
    filter: blur(33px);
    transition: 1s;
}
ul li:nth-child(2).active ~ #action,
ul li:nth-child(2).active ~ #action::before{
    background-color:#FE1F34 ;
}
ul li:nth-child(3).active ~ #action,
ul li:nth-child(3).active ~ #action::before{
    background-color:#96fe1f ;
}
ul li:nth-child(4).active ~ #action,
ul li:nth-child(4).active ~ #action::before{
    background-color:#1fd1fe ;
}